{:bot-name ""
 :auth-options {:oauth-token ""}
 :auto-label
 {:review-start-label "review: needed"
  :review-done-remove-labels ["review: needed" "review: in progress" "review: waiting on reply"]
  :review-done-add-label "review: done"
  :review-done-comment "^(:[+]1:)|(\ud83d\udc4d)"
  :qa-label "qa:needed"}
 :auto-merge
 {:auto-merge-label "pr: Merge When Green"
  :ci-status-context "jenkins-ghprb"}
 :flowdock
 {:token ""}}
